<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera.any" />

    <application
            android:allowBackup="true"
            android:dataExtractionRules="@xml/data_extraction_rules"
            android:fullBackupContent="@xml/backup_rules"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/Theme.ProyectoDefinitivo">
        <activity
                android:name=".PuntoRuta"
                android:exported="false" />
        <activity
                android:name=".Ruta"
                android:exported="false" />
        <activity
                android:name=".ForgotPasswordActivity"
                android:windowSoftInputMode="adjustResize"
                android:exported="false" />
        <activity
                android:name=".HomeRutasActivity"
                android:exported="false" />
        <activity
                android:name=".InfoBusesActivity"
                android:exported="false" />
        <activity
                android:name=".ListaRutas"
                android:exported="false" />
        <activity
                android:name=".CrearRuta"
                android:exported="false" />
        <activity
                android:name=".ConfigurarPuntosRuta"
                android:exported="false" />

        <activity
                android:name=".PasajeroHomeActivity"
                android:exported="false" />
        <activity
                android:name=".SeguimientoBusActivity"
                android:exported="false" />
        <activity
                android:name=".SelectionActivity"
                android:exported="false" />
        <activity
                android:name=".CameraEvidenceActivity"
                android:screenOrientation="portrait"
                android:exported="false" />
        <activity
                android:name=".Register"
                android:exported="false" />
        <activity
                android:name=".NavegacionActivaActivity"
                android:exported="false" />
        <activity
                android:name=".PreRecorridoActivity"
                android:exported="false" />
        <activity
                android:name=".ResumenRecorridoActivity"
                android:exported="false" />
        <activity
                android:name=".EstadisticasActivity"
                android:exported="false" />
        <activity
                android:name=".PerfilActivity"
                android:exported="false" />
        <activity
                android:name=".DocumentosVehiculoActivity"
                android:exported="false" />
        <activity
                android:name=".AsientosActivity"
                android:exported="false" />
        <service
                android:name=".FloatingRouteService"
                android:exported="false"
                android:foregroundServiceType="location" />
        <activity
                android:name=".Login"
                android:windowSoftInputMode="adjustResize"
                android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <meta-data
                android:name="com.google.android.geo.API_KEY"
                android:value="AIzaSyB7ONxsluVypI06fPFxu61nhRT7oM17eUI" />
    </application>

</manifest>